extends layout

block content
  h1 Request Access
  p Enter a name for the file and its exact hash. (The name is only to help you remember which file you requested)
  br
  form(name='request', action='/requestAccess', onsubmit="return validateForm()", method='post')
    input.request-input(type='text', name='name', placeholder = 'File Name')
    br
    |
    input.request-input(type='text', name='filename', placeholder='File Hash')
    br
    |
    input(type='submit', value='Submit')

  script(src="/javascripts/request.js")
